.message {
    font-size: 3vw;
    padding: 0 100px 0 100px;
    text-align: left;
}

.button1 {
    width: 50%;
    height: 5vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 0 20px ;
    font-size: 1.5vw;
    background-color: #6F9AF2;
    font-weight: bold;
    color: white;
    border-color: white;
}

.logo {
    width: 20%;
    padding: 100px 0 0 100px;
    margin: 0;
}